<div class='comments'>
  <%= form_for Comment.new do |f| %>
    <%= f.hidden_field :edition_id, value: edition.id %>

    <div class='form-group'>
      <%= f.text_area :comment, class: "form-control", rows: 3, placeholder: "Add new comment" %>
    </div>
    <div class='form-group'>
      <%= f.submit "Save comment", class: "btn btn-success" %>
    </div>
  <% end %>

  <% comments.each do |comment| %>
    <div class="comment panel panel-default" id="<%= comment.html_id %>">
      <div class="panel-heading">
        <span class="text-muted pull-right">
          <%= link_to comment.created_at.to_s(:govuk_date), url_for(params.merge(anchor: comment.html_id)) %>
        </span>
        <h3 class="panel-title">
          <%= comment.user.name %>
        </h3>
      </div>
      <div class="panel-body">
        <%= comment.comment %>
      </div>
    </div>
  <% end %>
</div>
