<%= form_for comment do |f| %>
  <%= f.hidden_field :edition_id, value: edition.id %>

  <%= render 'shared/form_error_summary', full_messages: f.object.errors.full_messages %>

  <div class='form-group'>
    <%= f.text_area :comment, class: "form-control", rows: 3, placeholder: "Add new comment" %>
  </div>
  <div class='form-group'>
    <%= f.submit "Save comment", class: "btn btn-success" %>
  </div>
<% end %>
