<header>
  <div class="page-title">
    <h1>
      <%= edition.title %>
      <%# <%= state_label(guide.latest_edition.state || "new") %1> %>
    </h1>
    <div class="callout callout-info">
      <div class="callout-body">
        This guide is marked as <%= state_label(guide.latest_edition.state || "new") %>.
        <%=
          case guide.latest_edition.state
          when "draft"
            "When you are done editing it, send it for review."
          when "review_requested"
            "Once someone reviews it, it will become #{state_label("approved")}. At this point, it can be published by you."
          when "approved"
            "You may now publish it."
          when "published"
            "You may edit it to create a new draft version."
          end.html_safe
        %>
      </div>
    </div>
  </div>
</header>

<p>
  <ul class="nav nav-tabs">
    <%= active_link_to "View Govspeak", edition_path(edition), wrap_tag: :li %>

    <%
      conversation_title = "Conversation"
      if guide.latest_edition.comments.any?
        conversation_title = "#{conversation_title} (#{guide.latest_edition.comments.count})"
      end
    %>

    <%= active_link_to conversation_title, edition_comments_path(guide.latest_edition), wrap_tag: :li %>

    <%= active_link_to "Edit guide", edit_guide_path(guide), wrap_tag: :li %>
    <%= active_link_to "Compare changes", edition_changes_path(old_edition_id: edition.previously_published_edition, new_edition_id: edition.id), wrap_tag: :li %>
    <%= active_link_to "Guide history", guide_editions_path(guide), wrap_tag: :li %>
  </ul>
</p>
