<header>
  <div class="page-title">
    <h1>
      <span class="small">
        <%= guide.slug %>
      </span>
      <%= edition.title %>
    </h1>
  </div>
  <p class="subtitle">
    <%= state_label(guide) %>
  </p>
</header>

<p>
  <ul class="nav nav-tabs">
    <%= active_link_to 'Show', edition_path(edition), wrap_tag: :li %>
    <% if guide.latest_edition.published? %>
      <li>
        <%= form_for :drafts, url: guide_drafts_path(guide_id: guide.id) do |f| %>
          <%= f.submit "Create new edition", class: 'btn btn-link' %>
        <% end %>
      </li>
    <% else %>
      <%= active_link_to "Edit", edit_guide_path(guide), wrap_tag: :li %>
    <% end %>
    <%= active_link_to 'History', guide_editions_path(guide), wrap_tag: :li %>
  </ul>
</p>
