<header>
  <div class="page-title">
    <h1>
      <%= edition.title %>
      <%= state_label(guide) %>
    </h1>
  </div>
</header>

<p>
  <ul class="nav nav-tabs">
    <%= active_link_to "View Govspeak", edition_path(edition), wrap_tag: :li %>
    <%= active_link_to "Comments and history", edition_comments_path(guide.latest_edition), wrap_tag: :li %>
    <%= active_link_to "Edit guide", edit_guide_path(guide), wrap_tag: :li %>
    <%= active_link_to "Compare changes", edition_changes_path(old_edition_id: edition.previously_published_edition, new_edition_id: edition.id), wrap_tag: :li %>
  </ul>
</p>
