<header>
  <div class="page-title">
    <h1>
      <%= edition.title %>
      <%= state_label(guide) %>
    </h1>
  </div>
</header>

<p>
  <ul class="nav nav-tabs">
    <% latest_edition = guide.latest_edition %>
    <%= active_link_to "Edit guide", edit_guide_path(guide), wrap_tag: :li %>
    <%= active_link_to "Comments and history", guide_editions_path(guide), wrap_tag: :li %>
    <%= active_link_to "Compare changes", edition_changes_path(old_edition_id: latest_edition.previously_published_edition, new_edition_id: latest_edition.id), wrap_tag: :li %>
  </ul>
</p>
