<%= render 'editions/header_with_navigation', edition: @edition, guide: @guide %>
<%= render 'editions/old_edition_alert', edition: @edition, guide: @guide %>

<%= guide_form_for @guide do |f| %>
  <%= render 'editions/actions', publish_controls_only: true, form: f, guide: @guide, edition: @edition %>
<% end %>

<% lastest_edition_for_open_edition_group = @latest_edition_per_edition_group.first %>

<% @latest_edition_per_edition_group.each do |latest_edition_of_group| %>
  <% if latest_edition_of_group == lastest_edition_for_open_edition_group %>
    <div class="open-edition">
      <%= link_to "View changes", edition_changes_path(latest_edition_of_group) %>

      <%= render 'comment_form', comment: @comment, edition: latest_edition_of_group %>

      <% EditionThread.new(latest_edition_of_group).events.reverse.each do |event| %>
        <%= render "editions/#{event.class.to_s.underscore}", event: event %>
      <% end %>
    </div>
  <% else %>
    <div>
      <%= link_to "View changes", edition_changes_path(latest_edition_of_group) %>
    </div>
  <% end %>
<% end %>

<%= guide_form_for @guide do |f| %>
  <%= render 'editions/actions', publish_controls_only: true, form: f, guide: @guide, edition: @edition %>
<% end %>
