<%= render 'editions/header_with_navigation', edition: @edition, guide: @guide %>
<%= render 'editions/old_edition_alert', edition: @edition, guide: @guide %>

<%= form_for @guide do |f| %>
  <%= render 'editions/actions', publish_controls_only: true, form: f, guide: @guide, edition: @edition %>
<% end %>
<% @editions.each do |edition| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" class="panel-title bold" href="#edition<%=edition.id%>">
        <i class="glyphicon glyphicon-smaller-than-text glyphicon-chevron-down add-right-margin"></i>
        Edition <%= edition.id %>
      </a>
      <%= link_to(
            "View edition",
            edition_path(edition),
            class: "pull-right") %>
    </div>
    <div class="panel-body collapse <%= edition.latest_edition? ? "in" : nil %>" id="edition<%=edition.id%>">
      <%= render 'editions/comments', edition: edition, comments: edition.comments.for_rendering %>
    </div>
  </div>
<% end %>
