<%= render 'editions/header_with_navigation', edition: @edition, guide: @guide %>
<%= render 'editions/old_edition_alert', edition: @edition, guide: @guide %>

<%= guide_form_for @guide do |f| %>
  <%= render 'editions/actions', publish_controls_only: true, form: f, guide: @guide, edition: @edition %>
<% end %>

<% lastest_edition_for_open_edition_group = @latest_edition_per_edition_group.first %>

<div class="open-edition">
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :edition_id, value: lastest_edition_for_open_edition_group.id %>

    <%= render 'shared/form_error_summary', object: @comment %>

    <div class='form-group'>
      <%= f.text_area :comment, class: "form-control", rows: 3, placeholder: "Add new comment" %>
    </div>
    <div class='form-group'>
      <%= f.submit "Save comment", class: "btn btn-success" %>
    </div>
  <% end %>

  <% EditionThread.new(lastest_edition_for_open_edition_group).events.reverse.each do |event| %>
    <%= render "editions/#{event.class.to_s.underscore}", event: event %>
  <% end %>
</div>

<%= guide_form_for @guide do |f| %>
  <%= render 'editions/actions', publish_controls_only: true, form: f, guide: @guide, edition: @edition %>
<% end %>
