<%= render 'editions/header_with_navigation', edition: @current_edition, guide: @guide %>
<%= render 'editions/old_edition_alert', edition: @current_edition, guide: @guide %>

<%= guide_form_for @guide do |f| %>
  <%= render 'editions/actions', publish_controls_only: true, form: f, guide: @guide, edition: @current_edition %>
<% end %>

<% @latest_edition_per_edition_group.each do |latest_edition_of_group| %>
  <% if latest_edition_of_group == @current_edition %>
    <div class="panel-edition open-edition panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-chevron-down"></span>
        <span class="panel-heading-part">
          Edition #<%= latest_edition_of_group.version %>
        </span>
        <span class="panel-heading-part">
          <%= latest_edition_of_group.update_type.titlecase %> update
        </span>
        <span class="panel-heading-part">
          <% if latest_edition_of_group.published? %>
            Published on <%= l latest_edition_of_group.updated_at, format: :date_without_time %>
          <% else %>
            Not yet published
          <% end %>
        </span>
        <span class="panel-heading-part">
          <% if latest_edition_of_group.major? %>
            "<%=latest_edition_of_group.change_summary%>"
          <% end %>
        </span>
        <div class="pull-right">
          <%= link_to "View changes", edition_changes_path(latest_edition_of_group) %>
        </div>
      </div>
      <div class="panel-body">
        <%= render 'comment_form', comment: @comment, edition: latest_edition_of_group %>

        <% EditionThread.new(latest_edition_of_group).events.reverse.each do |event| %>
          <%= render "editions/#{event.class.to_s.underscore}", event: event %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="panel-edition panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="panel-heading-part">
          <%= link_to "Edition ##{latest_edition_of_group.version}", guide_editions_path(@guide, current_edition: latest_edition_of_group) %>
        </span>
        <span class="panel-heading-part">
          <%= latest_edition_of_group.update_type.titlecase %> update
        </span>
        <span class="panel-heading-part">
          <% if latest_edition_of_group.published? %>
            Published on <%= l latest_edition_of_group.updated_at, format: :date_without_time %>
          <% else %>
            Not yet published
          <% end %>
        </span>
        <span class="panel-heading-part">
          <% if latest_edition_of_group.major? %>
            "<%=latest_edition_of_group.change_summary%>"
          <% end %>
        </span>
        <div class="pull-right">
          <%= link_to "View changes", edition_changes_path(latest_edition_of_group) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= guide_form_for @guide do |f| %>
  <%= render 'editions/actions', publish_controls_only: true, form: f, guide: @guide, edition: @current_edition %>
<% end %>
