<%= render 'header_with_navigation', edition: @guide.latest_edition, guide: @guide %>

<table class='table table-bordered'>
  <thead>
    <tr class='table-header'>
      <th></th>
      <th>Updated by</th>
      <th>State</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @editions.each do |edition| %>
      <tr>
        <td>
          <%= link_to "See edition", edition %>
        </td>
        <td>
          <%= edition.user.name %>
        </td>
        <td>
          <%= edition.state %>
        </td>
        <td>
          <%= edition.updated_at.to_s %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
