<h1>Change History: <%= @guide.editions.first.title %></h1>

<p>
  <%= link_to "New draft" , edit_guide_path(@guide), class: 'btn btn-primary' %>
</p>

<table class='table table-bordered'>
  <thead>
    <tr class='table-header'>
      <th>Updated by</th>
      <th>State</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @editions.each do |edition| %>
      <tr>
        <td>
          <%= edition.user.name %>
        </td>
        <td>
          <%= edition.state %>
        </td>
        <td>
          <%= edition.updated_at.to_s %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
