<%= render 'editions/header_with_navigation', edition: @edition, guide: @guide %>
<%= render 'editions/old_edition_alert', edition: @edition, guide: @guide %>

<div class="row">
  <div class="col-md-8">
    <pre><%= @edition.body %></pre>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Description</div>
      <div class="panel-body">
        <%= @edition.description %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Meta</div>

      <ul class="list-group">
        <li class="list-group-item">
          <label>Published by:</label>
          <%= link_to @edition.content_owner.title, @edition.content_owner.href %>
        </li>
        <% if @edition.related_discussion_href.present? %>
          <li class="list-group-item">
            <label>Related Discussion:</label>
            <%= link_to @edition.related_discussion_title, @edition.related_discussion_href %>
          </li>
          <li class="list-group-item">
            <label>Related Discussion URL:</label>
            <%= link_to @edition.related_discussion_href, @edition.related_discussion_href %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @edition.update_type.titleize %> update
      </div>
      <% if @edition.change_note.present? %>
        <div class="panel-body">
          <%= @edition.change_note %>
        </div>
      <% end %>
      <div class="panel-body">
        <label>Updated at:</label>
        <%= @edition.updated_at %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <%= render 'editions/publishing_controls', edition: @edition, guide: @guide %>
</div>

<p class="row">
  <%= render 'editions/comments', edition: @edition, comments: @comments %>
</p>
