<%= render 'editions/header_with_navigation', edition: @edition, guide: @guide %>
<%= render 'editions/old_edition_alert', edition: @edition, guide: @guide %>

<div class="row">
  <div class="col-md-12">
    <%= form_for @guide do |f| %>
      <%= render 'editions/actions', publish_controls_only: true, form: f, guide: @guide, edition: @edition %>
    <% end %>
  </div>

  <div class="col-md-8">
    <pre><%= @edition.body %></pre>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Description</div>
      <div class="panel-body">
        <%= @edition.description %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Meta</div>

      <ul class="list-group">
        <li class="list-group-item">
          <label>Published by:</label>
          <%= link_to @edition.content_owner.title, @edition.content_owner.href %>
        </li>
        <% if @edition.related_discussion_href.present? %>
          <li class="list-group-item">
            <label>Related Discussion:</label>
            <%= link_to @edition.related_discussion_title, @edition.related_discussion_href %>
          </li>
          <li class="list-group-item">
            <label>Related Discussion URL:</label>
            <%= link_to @edition.related_discussion_href, @edition.related_discussion_href %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @edition.update_type.titleize %> update
      </div>
      <% if @edition.change_note.present? %>
        <div class="panel-body">
          <%= @edition.change_note_html.html_safe %>
        </div>
      <% end %>
      <div class="panel-body">
        <label>Updated at:</label>
        <%= @edition.updated_at %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Authors
      </div>
      <div class="panel-body">
        <label>Changes by:</label>
        <%= @edition.user.name %>
      </div>
      <% if @edition.approval %>
        <div class="panel-body">
          <label>Approved by:</label>
          <%= @edition.approval.user.name %>
        </div>
      <% end %>
    </div>


  </div>
</div>
