<%= render 'editions/header_with_navigation', edition: @edition, guide: @guide %>

<% if !@edition.latest_edition? %>
  <div class="alert alert-info">
    You're looking at a past edition of this guide published at <%= @edition.updated_at %>.
    <%= link_to "See the latest edition", @guide.latest_edition %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <pre><%= @edition.body %></pre>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Description</div>
      <div class="panel-body">
        <%= @edition.description %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Meta</div>

      <ul class="list-group">
        <li class="list-group-item">
          <label>Published by:</label>
          <%= link_to @edition.content_owner.title, @edition.content_owner.href %>
        </li>
        <% if @edition.related_discussion_href.present? %>
          <li class="list-group-item">
            <label>Related Discussion:</label>
            <%= link_to @edition.related_discussion_title, @edition.related_discussion_href %>
          </li>
          <li class="list-group-item">
            <label>Related Discussion URL:</label>
            <%= link_to @edition.related_discussion_href, @edition.related_discussion_href %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @edition.update_type.titleize %> update
      </div>
      <% if @edition.change_note.present? %>
        <div class="panel-body">
          <%= @edition.change_note %>
        </div>
      <% end %>
      <div class="panel-body">
        <label>Updated at:</label>
        <%= @edition.updated_at %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      <%= link_to "Preview", guide_preview_url(@guide), class: 'btn btn-primary' %>
    </p>

    <% if @edition.can_be_published? %>
      <%= form_for :publication, url: guide_publications_path(guide_id: @guide.id) do |f| %>
        <%= f.submit "Publish Guide", class: 'btn btn-success', name: :publish %>
      <% end %>
    <% end %>

    <% if @edition.can_request_review? %>
      <%= form_for :review_request, url: edition_review_requests_path(edition_id: @edition.id) do |f| %>
        <%= f.submit "Send for review", class: 'btn btn-primary' %>
      <% end %>
    <% end %>

    <% if @edition.can_be_approved? %>
      <%= form_for Approval.new do |f| %>
        <fieldset class='meta'>
          <legend>Approve</legend>
          <%= f.hidden_field :edition_id, value: @edition.id %>
          <%= f.submit "Mark as Approved", class: 'btn btn-primary' %>
        </fieldset>
      <% end %>
    <% end %>
  </div>
</div>

<p class="row">
  <%= render 'editions/comments', edition: @edition, comments: @comments %>
</p>
