<div class="topics">
  <%= form_for topic do |f| %>
    <div class="col-md-8">

      <% if topic.new_record? %>
        <h2>New topic</h2>
      <% else %>
        <h2><%= topic.title %></h2>
      <% end %>

      <div class="form-group">
        <%= f.label :path %>
        <%= f.text_field :path, class: "form-control", disabled: topic.persisted? %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
      </div>

      <div class="topics-templates hidden">
        <li class="list-group-item js-heading">
          <div class="left">
            <span class="glyphicon glyphicon-move"></span>
            <span class="glyphicon glyphicon-trash js-delete-list-group-item"></span>
          </div>
          <div class="right">
            <div class="form-group">
              <input type="text" placeholder="Heading Title" class="js-topic-input js-topic-title form-control">
            </div>
            <input type="text" placeholder="Heading Description" class="js-topic-input js-topic-description form-control">
          </div>
          <h3>
            Guides:
          </h3>

          <div class="panel panel-default">
            <div class="panel-body">
              Drag and drop headings and guides into the required order.
            </div>
          </div>

          <ul class="well list-group js-guides">
          </ul>
        </li>
      </div>

      <label>Headings</label>
      <div>
        <ul class="list-group grouped-list js-grouped-list js-headings">
          <% topic.topic_sections.each do |topic_section| %>
            <li class="list-group-item js-heading">
              <div class="left">
                <span class="glyphicon glyphicon-move"></span>
                <span class="glyphicon glyphicon-trash js-delete-list-group-item"></span>
              </div>
              <div class="right">
                <div class="form-group">
                  <input type="text" placeholder="Heading Title" class="js-topic-input js-topic-title form-control" value="<%=topic_section.title%>">
                </div>
                <input type="text" placeholder="Heading Description" class="js-topic-input js-topic-description form-control" value="<%=topic_section.description%>">
              </div>

              <h3>
                Guides:
              </h3>

              <div class="panel panel-default">
                <div class="panel-body">
                  Drag and drop headings and guides into the required order.
                </div>
              </div>

              <ul class="well list-group js-guides">
                <% topic_section.guides.each do |guide| %>
                  <li class="list-group-item js-guide" data-guide-id="<%=guide.id%>">
                    <div class="left">
                      <span class="glyphicon glyphicon-move"></span>
                      <span class="glyphicon glyphicon-trash js-delete-list-group-item"></span>
                    </div>
                    <div class="right">
                      <span>
                        <%= guide.title %>
                      </span>
                    </div>
                  </li>
                <% end %>
              </ul>

            </li>
          <% end %>
        </ul>

        <div class="form-group">
          <%= button_tag "Add Heading", type: "button", class: "js-add-heading btn btn-success" %>
        </div>
      </div>

      <div>
        <h3>Un-grouped guides</h3>
        <ul class="well list-group ungrouped-list js-ungrouped-list js-guides">
          <% Guide.without_topic.each do |guide| %>
            <li class="list-group-item js-guide" data-guide-id="<%=guide.id%>">
              <div class="left">
                <span class="glyphicon glyphicon-move"></span>
                <span class="glyphicon glyphicon-trash js-delete-list-group-item"></span>
              </div>
              <div class="right">
                <span>
                  <%= guide.title %>
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <%= f.hidden_field :tree, value: @topic_tree, class: "js-topic-tree" %>
      <%= f.submit "Save", class: "btn btn-default btn-save" %>
      <% if topic.ready_to_publish? %>
        <%= f.submit "Publish", name: :publish, class: "btn btn-success btn-save" %>
      <% end %>
      <% if topic.persisted? %>
        <%= link_to "Preview", preview_content_model_url(topic), class: 'btn btn-default', target: "_blank" %>
        <%= link_to "View", view_topic_url(topic), class: "btn btn-default", target: "_blank" %>
      <% end %>
    <% end %>
  </div>
</div>
