<div class="row">
  <%= form_for(
    topic,
    html: {
      class: 'js-autogenerate-slug',
      data: {
        "slug-prefix": "/service-manual",
        "has-been-published": topic.persisted?
      }
  }) do |f| %>
    <div class="col-md-8">

      <% if topic.new_record? %>
        <h2>New topic</h2>
      <% else %>
        <h2><%= topic.title %></h2>
      <% end %>

      <%= render 'shared/form_error_summary', full_messages: topic.errors.full_messages %>

      <div class="well">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control js-title" %>
        </div>
        <div class="form-group">
          <%= f.label :title_slug, "Slug" %>
          <span class="help-block">
            Only use lowercase letters (not numbers or symbols) and separate words with a hyphen, eg <code>writing-user-stories</code>.
          </span>
          <%= f.text_field :title_slug, class: "form-control js-title-slug", disabled: topic.persisted? %>
        </div>
        <div class="form-group">
          <%= f.label :path, "Final URL" %>
          <%= f.text_field :path, class: "input-md-12 form-control js-slug", readonly: true, disabled: topic.persisted? %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <span class="help-block">To be used for displaying search results, linking content etc.</span>
          <%= f.text_field :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :visually_collapsed do %>
            <%= f.check_box :visually_collapsed %>
            Collapsed
          <% end %>
          <span class="help-block">
            By default the sections of a topic will be expanded. Setting this option will show all the sections collapsed, but expandable, when the user visits the page.
          </span>
        </div>
        <div class="form-group">
          <%= f.label :include_on_homepage do %>
            <%= f.check_box :include_on_homepage %>
            Include on homepage?
          <% end %>
        </div>
      </div>

      <div class="well">
        <h3>Grouping</h3>
        <ul class="list-group topic-section-list js-topic-section-list">
          <%= f.fields_for :topic_sections, f.object.topic_sections.sort_by(&:position) do |topic_section_form| %>
            <% section_is_deletable = topic_section_form.object.topic_section_guides.empty? %>
            <li class="list-group-item">
              <%= topic_section_form.hidden_field :position, class: 'js-section-position' %>
            <% if section_is_deletable %>
              <%= topic_section_form.hidden_field :_destroy, value: "0", class: "js-destroy" %>
            <% end %>
              <div class="left">
                <span class="glyphicon glyphicon-move js-topic-section-handle"></span>
              <% if section_is_deletable %>
                <span class="glyphicon glyphicon-trash js-delete-list-group-item"></span>
              <% end %>
              </div>

              <div class="right">
                <div class="form-group">
                  <%= topic_section_form.text_field :title, class: "form-control", placeholder: "Heading Title" %>
                </div>
                <%= topic_section_form.text_field :description, class: "form-control", placeholder: "Heading Description" %>
              </div>

              <h3> Guides: </h3>
              <div class="panel panel-default">
                <div class="panel-heading">
                  Drag and drop headings and guides into the required order.
                </div>
                <div class="panel-body">
                  <ul class="list-group js-guide-list">
                    <%= topic_section_form.fields_for(
                      :topic_section_guides,
                      topic_section_form.object.topic_section_guides.sort_by(&:position)
                    ) do |topic_section_guide_form| %>
                      <li class="list-group-item">
                        <%= topic_section_guide_form.hidden_field :position, class: 'js-guide-position' %>
                          <div class="left">
                            <span class="glyphicon glyphicon-move js-guide-handle"></span>
                          </div>
                          <div class="right">
                            <%= topic_section_guide_form.object.guide.title %>
                          </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>

            </li>
          <% end %>
        </ul>

        <div class="form-group">
          <%= f.submit "Add Heading", name: :add_heading, class: "btn btn-success" %>
        </div>
      </div>

      <%= f.submit "Save", class: "btn btn-default btn-save" %>
      <% if topic.ready_to_publish? %>
        <%= f.submit "Publish", name: :publish, class: "btn btn-success btn-save" %>
      <% end %>
      <% if topic.persisted? %>
        <%= link_to "Preview", preview_content_model_url(topic), class: 'btn btn-default', target: "_blank" %>
        <%= link_to "View", view_topic_url(topic), class: "btn btn-default", target: "_blank" %>
      <% end %>
    <% end %>
  </div>
</div>
