<%= form_for guide, html: { class: "js-protect-data" } do |f| %>

  <div class="col-md-12">
    <%= render 'editions/actions', publish_controls_only: false, form: f, guide: @guide, edition: @guide.latest_edition %>
  </div>

  <div class="col-md-8">
    <%= render 'shared/form_error_summary', object: guide %>
    <%= f.fields_for :latest_edition, guide.latest_editable_edition do |editions_form| %>

      <% if guide.new_record? %>
        <%= editions_form.hidden_field :update_type, value: "minor" %>
      <% else %>
        <div class="well">
          <h2>About this update</h2>

          <div class='form-group'>
            <label>Impact of the update</label>
            <%= editions_form.error_list :update_type %>
            <div class="radio">
              <%= label_tag do %>
                <%= editions_form.radio_button :update_type, "minor", { class: 'update-type-select'} %>
                Minor update
                <span class='text-muted'>e.g. spelling or typographic corrections.</span>
              <% end %>
            </div>
            <div class="radio">
              <%= label_tag do %>
                <%= editions_form.radio_button :update_type, "major", { class: 'update-type-select'} %>
                Major update
                <span class='text-muted'>e.g. updates that change the meaning of the guidance.</span>
              <% end %>
            </div>
          </div>

          <div class="form-group change-note-form-group">
            <%= editions_form.label :change_summary, "Summary of change" %>
            <div class="help-block">What is being changed in this update</div>
            <%= editions_form.text_field :change_summary, class: 'input-md-12 form-control', rows: 5 %>
          </div>

          <div class="form-group change-note-form-group">
            <%= editions_form.label :change_note, "Why the change is being made" %>
            <div class="help-block">Include any evidence from research and links to any related discussions</div>
            <%= editions_form.text_area :change_note, class: 'input-md-12 form-control text-area-auto-size js-text-area-auto-size', rows: 5 %>
          </div>

          <p class="text-strong change-note-form-group">
            <span class="glyphicon glyphicon-warning-sign text-warning" aria-hidden="true"></span>
            <strong>These notes will be made visible to the public and subscribed users will receive an email update when this guide is published.</strong>
          </p>
        </div>
      <% end %>

      <div class="well">
        <h2>Guide content</h2>

        <div class="form-group">
          <%= editions_form.label :title, "Guide title" %>
          <%= editions_form.error_list :title %>
          <%= editions_form.text_field :title, class: 'input-md-12 form-control js-guide-title' %>
        </div>

        <div class='form-group'>
          <%= f.label :slug  %>
          <%= f.error_list :slug  %>
          <%= f.text_field :slug, class: 'input-md-12 form-control guide-slug js-guide-slug', disabled: guide.has_published_edition? %>
          <span class="help-block">Must start with '/service-manual/' and contain only letters and dashes e.g. '/service-manual/stand-up-meetings'. See <a href="https://insidegovuk.blog.gov.uk/url-standards-for-gov-uk/">URL standards for GOV.UK</a>.</span>
        </div>

        <div class='form-group'>
          <%= editions_form.label :description, "Guide description" %>
          <%= editions_form.error_list :description %>
          <%= editions_form.text_area :description, rows: 5, class: 'input-md-12 form-control text-area-auto-size js-text-area-auto-size' %>
          <span class="help-block">To be used for displaying search results, linking content etc.</span>
        </div>

        <div class="form-group">
          <%= editions_form.label :body %>
          <%= editions_form.error_list :body %>
          <%= editions_form.text_area :body, class: 'input-md-12 form-control markdown-textarea text-area-auto-size text-area-auto-size-large js-text-area-auto-size', rows: 14 %>
        </div>

        <div class='form-group'>
          <%= editions_form.label :content_owner_id, "Published by" %>
          <%= editions_form.error_list :content_owner_id %>
          <%= editions_form.select :content_owner_id, ContentOwner.all.pluck(:title, :id), {}, {class: 'select2 input-md-12 form-control'} %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= render partial: "govuk_admin_template/govspeak_help" %>
  </div>

  <div class="col-md-12">
    <%= render 'editions/actions', publish_controls_only: false, form: f, guide: @guide, edition: @guide.latest_edition %>
  </div>

<% end %>
