<% guide = guide_form.guide %>
<% edition = guide_form.edition %>

<%= form_for(
      guide_form,
      html: {
        class: "js-guide-form js-protect-data",
        data: {
          "has-been-published": guide.has_published_edition?,
          "slug-prefix": guide_form.slug_prefix
        }
      }
    ) do |f| %>
  <% disable_inputs = edition.unpublished? %>

  <%= f.hidden_field :type %>
  <%= f.hidden_field :version %>

  <div class="col-md-12">
    <%= render 'editions/actions', publish_controls_only: false, form: f, guide: guide, edition: edition %>
  </div>

  <div class="col-md-8">
    <%= render 'shared/form_error_summary', full_messages: guide_form.errors.full_messages %>

    <div class="well">
      <h2><%= guide.model_name.human %> content</h2>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.error_list :title %>
        <%= f.text_field :title, disabled: disable_inputs, class: 'input-md-12 form-control js-guide-title' %>
      </div>

      <div class='form-group'>
        <%= f.label :title_slug, "Slug" %>
        <%= f.error_list :title_slug %>
        <div class="help-block">
          <p>
            Only use lowercase letters (not numbers or symbols) and separate words with a hyphen, eg <code>writing-user-stories</code>.
          </p>
        </div>
        <%= f.text_field :title_slug, {value: guide_form.title_slug, class: 'input-md-12 form-control guide-slug js-title-slug', disabled: guide.has_published_edition?} %>
      </div>

      <% if guide_form.requires_topic? %>
        <div class='form-group'>
          <%= f.label :topic_section_id, "Topic section" %>
          <%= f.error_list :topic_section_id %>
          <%= f.select :topic_section_id, grouped_options_for_select(topic_section_options_for_select, guide_form.topic_section_id), {include_blank: ""}, {class: 'js-topic-section select2 input-md-12 form-control'} %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :slug, "Final URL" %>
        <%= f.text_field :slug, class: "input-md-12 form-control js-slug", readonly: true, disabled: guide.has_published_edition? %>
      </div>

      <div class='form-group'>
        <%= f.label :description %>
        <%= f.error_list :description %>
        <span class="help-block">To be used for displaying search results, linking content etc.</span>
        <%= f.text_area :description, disabled: disable_inputs, rows: 5, class: 'input-md-12 form-control text-area-auto-size js-text-area-auto-size' %>
      </div>

      <% if guide.requires_summary? %>
        <div class='form-group'>
          <%= f.label :summary %>
          <%= f.error_list :summary %>
          <span class="help-block">The summary beneath the title which does not support formatting.</span>
          <%= f.text_area :summary, disabled: disable_inputs, rows: 5, class: 'input-md-12 form-control text-area-auto-size js-text-area-auto-size' %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :body %>
        <%= f.error_list :body %>
        <%= file_field_tag 'attachment', multiple: true, class: "js-markdown-file-input hidden" %>
        <p class="help-block">
          To insert images either <a class="js-markdown-file-input-trigger" href="javascript:void(0);">click here</a>, or drag and drop them into the text area below
        </p>
        <%= f.text_area :body, disabled: disable_inputs, class: 'js-markdown-image-upload input-md-12 form-control markdown-textarea text-area-auto-size text-area-auto-size-large js-text-area-auto-size', rows: 14 %>
      </div>

      <% if guide.requires_content_owner? %>
        <div class='form-group'>
          <%= f.label :content_owner_id, "Community" %>
          <%= f.error_list :content_owner_id %>
          <%= f.select :content_owner_id, guide_community_options_for_select, {}, {disabled: disable_inputs, class: 'select2 input-md-12 form-control'} %>
        </div>
      <% end %>
    </div>

    <% if guide.new_record? %>
      <%= f.hidden_field :update_type, value: "minor" %>
    <% else %>
      <div class="well">
        <h2>About this update</h2>

        <div class='form-group'>
          <label>Impact of the update</label>
          <%= f.error_list :update_type %>
          <div class="radio">
            <%= label_tag do %>
              <%= f.radio_button :update_type, "minor", {disabled: disable_inputs, class: 'update-type-select'} %>
              Minor update
              <span class='text-muted'>e.g. spelling or typographic corrections.</span>
            <% end %>
          </div>
          <div class="radio">
            <%= label_tag do %>
              <%= f.radio_button :update_type, "major", {disabled: disable_inputs, class: 'update-type-select'} %>
              Major update
              <span class='text-muted'>e.g. updates that change the meaning of the guidance.</span>
            <% end %>
          </div>
        </div>

        <div class="form-group change-note-form-group">
          <%= f.label :change_summary, "Summary of change" %>
          <div class="help-block">What is being changed in this update</div>
          <%= f.text_field :change_summary, disabled: disable_inputs, class: 'input-md-12 form-control', rows: 5 %>
        </div>

        <div class="form-group change-note-form-group">
          <%= f.label :change_note, "Why the change is being made" %>
          <div class="help-block">Include any evidence from research and links to any related discussions</div>
          <%= f.text_area :change_note, disabled: disable_inputs, class: 'input-md-12 form-control text-area-auto-size js-text-area-auto-size', rows: 5 %>
        </div>

        <p class="text-strong change-note-form-group">
          <span class="glyphicon glyphicon-warning-sign text-warning" aria-hidden="true"></span>
          <strong>These notes will be made visible to the public and subscribed users will receive an email update when this guide is published.</strong>
        </p>
      </div>

      <div class="well">
        <h2>Assign authorship</h2>
        <%= f.label :author_id, class: "add-top-margin nav-header" %>
        <%= f.select :author_id, user_options, {include_blank: "Choose a user"}, {disabled: disable_inputs, class: 'select2 input-md-12 form-control'} %>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= render partial: "govuk_admin_template/govspeak_help" %>
  </div>

  <div class="col-md-12">
    <%= render 'editions/actions', publish_controls_only: false, form: f, guide: guide, edition: edition %>
  </div>

<% end %>
