<div class='well'>
  <%= form_for guide do |f| %>
    <fieldset class='guide'>
      <legend>Guide</legend>
      <div class='form-group'>
        <%= f.label :slug  %>
        <%= f.error_list :slug  %>
        <%= f.text_field :slug, class: 'input-md-12 form-control guide-slug', disabled: guide.persisted? %>
      </div>
    </fieldset>

    <%= f.fields_for :latest_edition, guide.latest_editable_edition do |editions_form| %>
      <fieldset class='meta'>
        <legend>Meta</legend>
        <div class='form-group'>
          <%= editions_form.label :related_discussion_title %>
          <%= editions_form.error_list :related_discussion_title %>
          <%= editions_form.text_field :related_discussion_title, class: 'input-md-12 form-control' %>
        </div>

        <div class='form-group'>
          <%= editions_form.label :related_discussion_href, "Link to related discussion" %>
          <%= editions_form.error_list :related_discussion_href %>
          <%= editions_form.text_field :related_discussion_href, class: 'input-md-12 form-control' %>
        </div>

        <div class='form-group'>
          <%= editions_form.label :content_owner_id, "Published by" %>
          <%= editions_form.error_list :content_owner_id %>
          <%= editions_form.select :content_owner_id, ContentOwner.all.pluck(:title, :id), {}, {class: 'select2 input-md-12 form-control'} %>
        </div>

        <div class='form-group'>
          <%= editions_form.label :description %>
          <%= editions_form.error_list :description %>
          <%= editions_form.text_area :description, rows: 4, class: 'input-md-12 form-control' %>
        </div>

      </fieldset>

    <fieldset class='inputs'>
      <legend>Content</legend>
        <div class="form-group">
          <%= editions_form.label :title %>
          <%= editions_form.error_list :title %>
          <%= editions_form.text_field :title, class: 'input-md-12 form-control' %>
        </div>
        <div class="form-group">
          <%= editions_form.label :body %>
          <%= editions_form.error_list :body %>
          <%= editions_form.text_area :body, class: 'input-md-12 form-control', rows: 14 %>
        </div>
    </fieldset>


    <fieldset class='update'>
      <legend>Content</legend>
      <div class='form-group'>
        <%= editions_form.label :update_type %>
        <%= editions_form.error_list :update_type %>
        <%= editions_form.select :update_type, [["Major", "major"], ["Minor", "minor"]], {}, {class: 'update-type-select input-md-12 form-control'} %>
      </div>
      <div class="form-group change-note-form-group">
        <%= editions_form.label :change_note %>
        <%= editions_form.text_area :change_note, class: 'input-md-12 form-control', rows: 5 %>
      </div>
    </fieldset>

      <fieldset class='publication'>
        <legend>Publication</legend>
        <div class='form-group'>
          <%= f.submit "Save Draft", class: 'btn btn-success', name: :save_draft, data: disable_if_new_record(guide) %>
          <%= f.submit "Save Draft and Preview", class: 'btn btn-default', name: :save_draft_and_preview, data: disable_if_new_record(guide) %>
        </div>
      </fieldset>
    <% end %>
  <% end %>

  <% if guide.latest_edition.can_request_review? %>
    <%= form_for :review_request, url: edition_review_requests_path(edition_id: guide.latest_edition.id) do |f| %>
      <%= f.submit "Send for review", class: 'btn btn-success' %>
    <% end %>
  <% end %>
</div>
