<div class='well'>
  <%= form_for guide do |f| %>
    <fieldset class='meta'>
      <legend>Meta</legend>
      <div class='form-group'>
        <%= f.label :slug %>
        <div class="input-group">
          <span class="input-group-addon">/service-manual/</span>
          <%= f.text_field :slug, class: 'form-control' %>
        </div>
      </div>

      <%= f.fields_for :latest_edition, guide.latest_edition do |editions_form| %>

        <div class='form-group'>
          <%= editions_form.label :related_discussion_title %>
          <%= editions_form.text_field :related_discussion_title, class: 'input-md-12 form-control' %>
        </div>

        <div class='form-group'>
          <%= editions_form.label :related_discussion_href, "Link to related discussion" %>
          <%= editions_form.text_field :related_discussion_href, class: 'input-md-12 form-control' %>
        </div>

        <div class='form-group'>
          <%= editions_form.label :publisher_title, 'Published by' %>
          <%= editions_form.select :publisher_title, Edition::PUBLISHERS.keys, class: 'input-md-12 form-control' %>
        </div>

        <div class='form-group'>
          <%= editions_form.label :phase, 'Phase' %>
          <%= editions_form.select :phase, [['Alpha', 'alpha'], ['Beta', 'beta'], ['Live', 'live']], class: 'input-md-12 form-control' %>
        </div>

        <div class='form-group'>
          <%= editions_form.label :description %>
          <%= editions_form.text_area :description, rows: 4, class: 'input-md-12 form-control' %>
        </div>
      <% end %>
    </fieldset>

    <fieldset class='inputs'>
      <legend>Content</legend>
      <%= f.fields_for :latest_edition, guide.latest_edition do |editions_form| %>
        <div class="form-group">
          <%= editions_form.label :title %>
          <%= editions_form.text_field :title, class: 'input-md-12 form-control' %>
        </div>
        <div class="form-group">
          <%= editions_form.label :body %>
          <%= editions_form.text_area :body, class: 'input-md-12 form-control', rows: 14 %>
        </div>
      <% end %>

    </fieldset>

    <fieldset class='update'>
      <div class='form-group'>
        <%= f.fields_for :latest_edition, guide.latest_edition do |editions_form| %>
          <div class='form-group'>
            <%= editions_form.label :update_type %>
            <%= editions_form.select :update_type, [["Major", "major"], ["Minor", "minor"], ["Republish", "republish"]], include_blank: true, class: 'input-md-12 form-control' %>
          </div>
        <% end %>
      </div>
      <div class='form-group'>
        <%= f.submit "Save Draft", class: 'btn btn-success', name: :save_draft %>
        <%= link_to "Preview", document_preview_url(guide), class: 'btn btn-default' %>
        <%= f.submit "Publish", class: 'btn btn-success', name: :publish %>
      </div>
    </fieldset>
  <% end %>
</div>
