<h1>Guides</h1>

<table class='table table-bordered'>
  <thead>
    <tr class='table-header'>
      <th>Title</th>
      <th>Last updated by</th>
      <th>State</th>
      <th>Controls</th>
    </tr>
  </thead>
  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td>
          <%= guide.latest_edition.title %>
          <span class='text-muted'><%= guide.slug %></span>
        </td>
        <td class='last-edited-by'>
          <%= latest_editor_name(guide) %>
        </td>
        <td>
          <%= state_label(guide) %>
        </td>
        <td class='content-controls'>
          <% if guide.latest_edition.published? %>
            <%= form_for :drafts, url: guide_drafts_path(guide_id: guide.id), html: {style: "display: inline;"} do |f| %>
              <%= f.submit("Create new edition", class: 'btn btn-default btn-xs') %>
            <% end %>
          <% else %>
            <%= link_to "Continue editing", edit_guide_path(guide), class: 'btn btn-default btn-xs' %>
          <% end %>
          <%= link_to "View history", guide_editions_path(guide), class: 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @guides %>
<p>
  <%= link_to "Create a Guide" , new_guide_path, class: 'btn btn-primary' %>
</p>
