<div class="row">
  <div class="col-md-3">
    <p>
      <%= link_to "Create a Guide" , new_guide_path, class: 'btn btn-block btn-success' %>
    </p>
    <div class="filters well sidebar-nav">
      <form action="<%= guides_path%>" method="get">
        <%= label_tag :q, "Title or slug", class: "nav-header" %>
        <%= text_field_tag :q, params[:q], type: :search, class: "form-control" %>

        <%= label_tag :user, nil, class: "add-top-margin nav-header" %>
        <%= select_tag :user, options_for_select(@user_options, params[:user]), {include_blank: "All", class: 'select2 input-md-12 form-control'} %>

        <%= label_tag :state, nil, class: "add-top-margin nav-header" %>
        <%= select_tag :state, options_for_select(@state_options, params[:state]), {include_blank: "All", class: "select2 input-md-12 form-control"} %>

        <%= label_tag :content_owner, "Published by", class: "add-top-margin nav-header" %>
        <%= select_tag :content_owner, options_for_select(@content_owner_options, params[:content_owner]), {include_blank: "All", class: "select2 input-md-12 form-control"} %>

        <input type="submit" class="add-top-margin btn btn-default" value="Filter guides">
      </form>
    </div>
  </div>

  <div class="col-md-9">
    <% SearchHeaderPresenter.new(params, current_user).tap do |search_header| %>
      <% if search_header.search? %>
        <h2><%= search_header.to_s %></h2>
      <% end %>
    <% end %>
    <table class='table table-bordered'>
      <thead>
        <tr class='table-header'>
          <th>Guide</th>
          <th>Published by</th>
          <th>Author</th>
          <th>Last update</th>
          <th>State</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @guides.each do |guide| %>
          <tr>
            <td>
              <%= link_to guide.latest_edition.title, edit_guide_path(guide) %>
              <span class='text-muted'><%= guide.slug %></span>
            </td>
            <td>
              <%= guide.latest_edition.content_owner.title %>
            </td>
            <td class='last-edited-by'>
              <%= latest_editor_name(guide) %>
            </td>
            <td>
              <%= time_ago_in_words(guide.latest_edition.updated_at) %> ago
            </td>
            <td>
              <%= state_label(guide) %>
            </td>
            <td class='content-controls'>
              <%= guide_action_button(guide) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @guides %>
  </div>
</div>
