<div class='well'>
  <%= form_for Guide.new do |f| %>
    <fieldset class='inputs'>
      <div class='form-group'>
        <%= f.label :slug %>
        <%= f.text_field :slug, class: 'input-md-12 form-control' %>
      </div>

      <%= f.fields_for :latest_edition, Edition.new do |editions_form| %>
        <div class="form-group">
          <%= editions_form.label :title %>
          <%= editions_form.text_field :title, class: 'input-md-12 form-control' %>
        </div>
        <div class="form-group">
          <%= editions_form.label :body %>
          <%= editions_form.text_area :body, class: 'input-md-12 form-control', rows: 14 %>
        </div>
      <% end %>

    </fieldset>
    <div class='form-group'>
      <%= f.submit "Save Draft", class: 'btn btn-success', name: :save_draft %>
      <%= f.submit "Publish", class: 'btn btn-success', name: :publish %>
    </div>
  <% end %>
</div>
