<div class='well'>
  <%= form_for @slug_migration do |f| %>
    <h2>Slug Migration <small><%= @slug_migration.slug %></small></h2>

    <div class="form-group">
      <%= f.label :redirect_to do %>
        Redirect to (<span class="text-info">only published guides and topics will appear in this list</span>)
      <% end %>
      <%=
        f.select :redirect_to,
          grouped_options_for_select(redirect_destination_select_options),
          {include_blank: "Please choose a path to redirect to"},
          {class: "select2 input-md-12 form-control"}
      %>
      <%= f.error_list :redirect_to %>
    </div>

    <div class="form-group">
      <%= f.submit "Migrate", class: "btn btn-warning" %>
    </div>
  <% end %>
</div>
