<div class='well'>
  <%= form_for @slug_migration do |f| %>
    <h2>Slug Migration <small><%= @slug_migration.slug %></small></h2>

    <div class="form-group">
      <%= f.label :redirect_to do %>
        Redirect to (<span class="text-info">only published guides and topics will appear in this list</span>)
      <% end %>
      <%=
        f.select :redirect_to,
          grouped_options_for_select(@select_options),
          {include_blank: "Please choose a path to redirect to"},
          {class: "select2 slug-migration-redirect-to input-md-12 form-control"}
      %>
      <%= f.error_list :redirect_to %>
    </div>

    <div class="form-group">
      <%= f.submit "Migrate", class: "btn btn-warning" %>
    </div>
  <% end %>
</div>

<div class='well'>
  <h2>Search index</h2>
  <% if @slug_migration.has_search_document? %>
    <%= form_tag slug_migration_delete_search_index_path(slug_migration_id: @slug_migration.id) do |f| %>
      <%= submit_tag "Delete from search index", class: "btn btn-danger" %>
    <% end %>
  <% else %>
    <p>
      This url has nothing indexed in search
    </p>
  <% end %>
</div>
