<div class="row">
  <div class="col-md-2">
    <div class="slug-filters well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Filter by Status</li>
        <li class="status-option">
          <%= active_link_to slug_migrations_path(completed: true) do %>
            Completed <span class="badge pull-right"><%= @completed_count %></span>
          <% end %>
        </li>
        <li class="status-option">
          <%= active_link_to slug_migrations_path(completed: false) do %>
            Not completed <span class="badge pull-right"><%= @incompleted_count %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-10">
    <div class="slug-migrations">
      <table class="table table-bordered">
        <thead>
          <th></th>
          <th>Old Slug</th>
          <th>New Slug</th>
        </thead>

        <tbody>
          <% @migrations.each do |slug_migration| %>
            <tr>
              <td>
                <% if slug_migration.completed? %>
                  <%= link_to "Show", slug_migration_path(slug_migration) %>
                <% else %>
                  <%= link_to "Manage", edit_slug_migration_path(slug_migration) %>
                <% end %>
              </td>
              <td>
                <%= link_to slug_migration.slug, "#{Plek.find('www')}#{slug_migration.slug}" %>
              </td>
              <td>
                <%= slug_migration.redirect_to %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
