<ul class="slug-filters">
  <%= active_link_to 'Filter by completed', slug_migrations_path(completed: true), wrap_tag: :li %>
  <%= active_link_to 'Filter by incompleted', slug_migrations_path(completed: false), wrap_tag: :li %>
</ul>

<div class="slug-migrations">
  <table class="table table-bordered">
    <thead>
      <th></th>
      <th>Slug</th>
      <th>Completed</th>
    </thead>

    <tbody>
      <% @migrations.each do |slug_migration| %>
        <tr>
          <td><%= link_to "Manage", edit_slug_migration_path(slug_migration) %></td>
          <td><%= slug_migration.slug %></td>
          <td><%= slug_migration.completed %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
