<%# blocks for govuk_admin_template %>
<% content_for :head do %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
<% end %>
<% content_for :app_title do %>GOV.UK Service Manual Publisher<% end %>

<% if current_user %>
  <% content_for :navbar_right do %>
    <%= link_to current_user.name, Plek.new.external_url_for('signon') %>
    &bull; <%= link_to 'Sign out', gds_sign_out_path %>
  <% end %>
<% end %>

<% content_for :content do %>
  <% [:notice, :alert, :error].select { |k| flash[k].present? }.each do |k| %>
    <div class="alert <%= alert_css_class(k) %>">
      <%= flash[k] %>
    </div>
  <% end %>
  <%= yield %>
<% end %>

<% content_for :navbar_items do %>
  <li><%= link_to "Manage Migrations", slug_migrations_path %></li>
  <li><%= link_to "Manage Topics", topics_path %></li>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
