<%# blocks for govuk_admin_template %>
<% content_for :head do %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
<% end %>
<% content_for :app_title do %>GOV.UK Service Manual Publisher<% end %>

<% if current_user %>
  <% content_for :navbar_right do %>
    <%= link_to current_user.name, Plek.current.find('signon') %>
    &bull; <%= link_to 'Sign out', gds_sign_out_path %>
  <% end %>
<% end %>

<% content_for :content do %>
  <% [:notice, :alert, :error].select { |k| flash[k].present? }.each do |k| %>
    <div class="alert <%= alert_css_class(k) %>">
      <%= flash[k] %>
    </div>
  <% end %>
  <div class="js-search">
    <form action="<%= guides_path%>" method="get">
      <div class="row">
        <div class="input-group input-group-lg">
          <%= text_field_tag :q, params[:q], type: :search, class: "form-control", placeholder: "Search for" %>
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default" value="Search">
          </span>
        </div>
        <div class="js-advanced-search form-group" style="display:none;">
          <%= label_tag :user %>
          <%= select_tag :user, options_for_select(user_options, params[:user]), {include_blank: "User", class: 'select2 input-md-12 form-control'} %>

          <%= label_tag :state %>
          <%= select_tag :state, options_for_select(state_options, params[:state]), {include_blank: "State", class: "select2 input-md-12 form-control"} %>

          <%= label_tag :content_owner, "Published by" %>
          <%= select_tag :content_owner, options_for_select(content_owner_options, params[:content_owner]), {include_blank: "Published by", class: "select2 input-md-12 form-control"} %>
        </div>
      </div>
      <div class="row">
      </div>
    </form>
  </div>
  <%= yield %>
<% end %>

<% content_for :navbar_items do %>
  <li><%= link_to "Manage Migrations", slug_migrations_path %></li>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
